
.body{
    position:relative;
    z-index:0;
}
.container-fluid{
    margin-bottom: 100px;
    height: 400px;
}
.slide{
    height:500px;
}
.carousel-indicators {
    top: 0px;
    padding-top: 7%;
    margin:0;
    padding-left:90%;
    padding-right:15px;
    height: 20px;;
    align-content:right;
  }
  .vid{

    height: 262px;
    
    
  }
  .Int{
    padding: 0px;
    align-self: center;
    position: relative;
    max-width:10%;
    max-height:1000px;
    min-width: 80%;
    border: solid;

    height: 300px;
    transition: 0s;
    transform: scale(1,1);

    background-image: url('images/poster.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
  }
  .Int:hover{
    transition: 1s;
    background-color: rgb(34, 35, 36);
    background-image: url('images/poster.jpg');
    background-position:left;
    background-size: 50% 100%;
    
    background-repeat: no-repeat;
    border: none;

    text-align: end;

   
    z-index:1000;
    max-width:1000px;
    max-height:1000px;
    transform: scale(2.2,1.1);
}
.Cat{
  padding-top: 100px;
  padding-left: 10%;
  position: absolute;
}
.Empt{
  width: 50%;
  float: left;
}

ul{
  padding: 0%;
  list-style-type:none;
}

.Int:hover .Inf{
  transition: 2s;
  visibility: visible;
  width: 50%;
  height: 100%;
  background-color: none;
  float: right;
  color: aliceblue;
  text-align: left !important;
  padding: 0px;
  
  padding-top: 20%;
  
  


  font-size: medium;

}
.Int:hover .Inf ul{
 
  width:160px;
  transform: translate(-30%, -10%);
  margin-bottom: 0px;
  

  
}
.Int:hover .Inf li{
 
  
  transform: scale(0.45,0.9);

  

  
}

.button{
  padding: 0px;
}
.Int:hover .Inf button{
  
  
  

}
.Int:hover .Inf li{

  padding-bottom: 5%;
  padding-left: 10%;

}
.Int .Inf{
  visibility: hidden;
}

.img{
  background-image: url('images/poster.jpg');
  background-position:center center;
  background-size:contain;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: 100%;
  z-index:1001;
}


.poster{
  width: 50%;
  height: 800px;
  float: left;

  background-image: url('images/poster.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}


.Inf2{
  visibility: visible;
  width: 50%;
  height: 100%;
  background-color: none;
  float: right;
 
  text-align: left !important;
  padding: 0px;
  padding-left: 10px; 
 
  
  


  font-size: medium;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.modal-backdrop {
  background-color: black;
}
.dg{
  background-color:  rgb(34, 34, 34);
  color: aliceblue;
}

/*                   -----------------------------------------------------------                                                         */


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
	background: #DDD;
	font-size: 15px;
}
#wrap {
  
  display: inline-block;
  position: relative;
  
  padding: 0;
  position: relative;
  transform: scale(0.5);
}

input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
   
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
   
  opacity: 0.4;
   
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}