
.body{
    position:relative;
    z-index:0;
}
.container-fluid{
    margin-bottom: 100px;
    height: 400px;
}
.slide{
    height:500px;
}
.carousel-indicators {
    top: 0px;
    
    margin:0;
    padding-left:90%;
    padding-right:15px;
    height: 20px;;
    align-content:right;
  }
  .vid{

    height: 131px;
    
    
  }
  .Int{
    max-width:1000px;
    max-height:1000px;
    
    transition: 1s;
    
  }
  .Int:hover{
    background-color: darkgrey;
    position:relative;
    z-index:1000;
    max-width:1000px;
    max-height:1000px;
    transform: scale(1.5);
}
  
  
  
 