
.body{
    position:relative;
    z-index:0;
}
.container-fluid{
    margin-bottom: 100px;
    height: 400px;
}
.slide{
    height:500px;
}
.carousel-indicators {
    top: 0px;
    padding-top: 7%;
    margin:0;
    padding-left:90%;
    padding-right:15px;
    height: 20px;;
    align-content:right;
  }
  .vid{

    height: 262px;
    
    
  }
  .Int{
    padding: 0px;
    align-self: center;
    position: relative;
    max-width:10%;
    max-height:1000px;
    min-width: 80%;
    border: solid;

    height: 300px;
    transition: 0s;
    transform: scale(1,1);

    background-image: url('images/poster.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
  }
  .Int:hover{
    transition: 1s;
    background-color: rgb(34, 35, 36);
    background-image: url('images/poster.jpg');
    background-position:left;
    background-size: 50% 100%;
    
    background-repeat: no-repeat;
    border: none;

    text-align: end;

   
    z-index:1000;
    max-width:1000px;
    max-height:1000px;
    transform: scale(2.1,1.1);
}

.Empt{
  width: 50%;
  float: left;
}

ul{
  padding: 0%;
  list-style-type:none;
}

.Int:hover .Inf{
  visibility: visible;
  width: 50%;
  height: 100%;
  background-color: none;
  float: right;
  color: aliceblue;
  text-align: left;
  padding: 0px;
  font-size:xx-small;
  padding-top: 20%;

}

.button{
  padding: 0px;
}
.Int:hover .Inf button{
  
  margin-left: 50%;
  margin-top: 100px;
  
  padding: 10%;
  

}
.Int:hover .Inf li{

  padding-bottom: 25%;
  padding-left: 10%;

}
.Int .Inf{
  visibility: hidden;
}

.img{
  background-image: url('images/poster.jpg');
  background-position:center center;
  background-size:contain;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: 100%;
  z-index:1001;
}
  
  
  
 