html{
    overflow-x: hidden;
}
/* -----------------------HEADER-------------------------- */
/* The header itself */
.header {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(37, 37, 37, 0.2) 100%);
    padding: 20px 20px 0 40px;
    width: 100%;
    display: flex;
    align-items: center;
  }

.sticky{
    position:fixed;
    top:0;
    z-index: 999999;
}

.header a {
    float: left;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-left: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the active/current link*/
.header a.active {
    font-weight: bold;
    color: white;
  }

  .header-right {
    position: absolute;
    right: 5vw;
  }
/* -----------------------------BANNER------------------------*/

.videoAdd {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
  /* -----------------------CAROUSEL-------------------------- */
  #parentDiv{
      padding: 4vw;
      position: relative;
      bottom: 200px;
/*       background-color: #141414;
 */  }

  .item{
    transition: transform .2s; /* Animation */
    margin: 1vh 0;
    position: relative;
}

 .item:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 2;
}

 .nextButton{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(37, 37, 37, 0.5) 100%);
 }

 .item img{
     width: 100%;
     padding: 0 1vw;
 }

 .itemDesc{
     height: 0%;
     width: 100%;
     position: absolute;
     display: none;
     bottom: 0;
     padding: 10%;
     background: linear-gradient(0, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0) 100%);
 }

 
 .item:hover div{
    height: fit-content;
    display: inline;
}


.FilmTitle{
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 10%;
    text-shadow:0 0.1em rgba(0, 0, 0, 0.3);
}

.CategoryTitle{
    text-align: left;
    color: white;
    text-shadow:0 0.1em rgba(0, 0, 0, 0.3);
}

.video-blur{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(0, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.2) 70%, rgba(20, 20, 20, 0) 100%);
    z-index: 999999999;
}

.video-content{
    float:left;
    margin-left: 4vw;
    max-height: 50vh;
    width: min-content;
    overflow: hidden;
}

.video-content h5{
    width: 100%;
    height: 100%;
    text-align: justify;
}


.video-content button{
    margin: 0 auto;
    margin-top: 2vh;
    display:block;
}

@media only screen and (max-height: 800px) {
    .hide-small {
        display: none;
    }
}

.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.loading{
    position: relative;;
    bottom:5%;
    left: 50%;
    width: 0px;
    margin-bottom: 5%;
}
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: white;
    }
    50%,
    100% {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }