/* -----------------------HEADER-------------------------- */
/* The header itself */
.header {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(37, 37, 37, 0.2) 100%);
    padding: 20px 20px 0px 0px;

    display: flex;
    align-items: center;
  }

.sticky{
    position:sticky;
    top:0;
    z-index: 999999;
}

.header a {
    float: left;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-left: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the active/current link*/
.header a.active {
    font-weight: bold;
    color: white;
  }

  .header-right {
    padding-right: 20px;
    margin-left: auto;
    order: 2;
  }
/* -----------------------------BANNER------------------------*/

.videoAdd {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
  /* -----------------------CAROUSEL-------------------------- */
  #parentDiv{
      padding: 40px;
      background-color: black;
  }

  .item{
    transition: transform .2s; /* Animation */
    position: relative;
}

 .item:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 2;
}

 .nextButton{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(37, 37, 37, 0.5) 100%);
 }

 .item img{
     width: 100%;
     padding: 0 1vw;
 }

 .itemDesc{
     height: 0%;
     width: 100%;
     position: absolute;
     bottom: 0;
     margin-bottom: 5%;
     background: linear-gradient(0, rgba(37, 37, 37, 1) 0%,rgba(37, 37, 37, 1) 70%, rgba(37, 37, 37, 0.95) 100%);
 }

 
 .item:hover div{
    height: fit-content;
}

.FilmTitle{
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 10%;
}

.CategoryTitle{
    text-align: left;
    color: white;
}

